# Análisis de Datos sobre DS de Ganadores de Oscars.

### DS Utilizado: https://www.kaggle.com/fmejia21/demographics-of-academy-awards-oscars-winners

## 1- Lectura, estructura de DF y Data Types

#### Importamos las librerias

In [183]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#Para tener una salida de los comandos de ploteos mostrados (NO ENTENDI, VER):
%matplotlib inline

#### Lectura del archivo

In [184]:
#Como la data está en CSV lo leeremos usando la funcion readl_csv() que nos permite
#parsear y cargar la data dentro de un DATAFRAME facilmente.
#Luego con la función head() vemos lo que leimos. Y le indicamos que queremos ver 5 columnas.
oscars_demographics = pd.read_csv('data/Oscars-demographics-DFE.csv', encoding='latin-1')
oscars_demographics.head(5)

,_unit_id,_golden,_unit_state,_trusted_judgments,_last_judgment_at,birthplace,birthplace:confidence,date_of_birth,date_of_birth:confidence,race_ethnicity,...,award,biourl,birthplace_gold,date_of_birth_gold,movie,person,race_ethnicity_gold,religion_gold,sexual_orientation_gold,year_of_award_gold
0,670454353,False,finalized,3,2/10/15 3:45,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,Two Arabian Knights,Lewis Milestone,NaN,NaN,NaN,NaN
1,670454354,False,finalized,3,2/10/15 2:03,"Glasgow, Scotland",1.0,2-Feb-1886,1.0,White,...,Best Director,http://www.nndb.com/people/626/000042500/,NaN,NaN,The Divine Lady,Frank Lloyd,NaN,NaN,NaN,NaN
2,670454355,False,finalized,3,2/10/15 2:05,"Chisinau, Moldova",1.0,30-Sep-1895,1.0,White,...,Best Director,http://www.nndb.com/people/320/000043191/,NaN,NaN,All Quiet on the Western Front,Lewis Milestone,NaN,NaN,NaN,NaN
3,670454356,False,finalized,3,2/10/15 2:04,"Chicago, Il",1.0,23-Feb-1899,1.0,White,...,Best Director,http://www.nndb.com/people/544/000041421/,NaN,NaN,Skippy,Norman Taurog,NaN,NaN,NaN,NaN
4,670454357,False,finalized,3,2/10/15 1:48,"Salt Lake City, Ut",1.0,23-Apr-1894,1.0,White,...,Best Director,http://www.nndb.com/people/292/000044160/,NaN,NaN,Bad Girl,Frank Borzage,NaN,NaN,NaN,NaN

In [185]:
#Analizamos el DS y vemos que es un DS de personas que ganaron el oscar en alguna oportunidad: hay actores y actrices y tambien directores.
#AHora sacamos los datos relevantes... solo las columnas que nos interesan:
oscars_short = pd.read_csv('data/Oscars-demographics-DFE.csv',
                        encoding='latin-1',
                        usecols = ['birthplace', 'date_of_birth','race_ethnicity','religion','sexual_orientation','year_of_award','award','movie','person'])
oscars_short.head(5)

,birthplace,date_of_birth,race_ethnicity,religion,sexual_orientation,year_of_award,award,movie,person
0,"Chisinau, Moldova",30-Sep-1895,White,Na,Straight,1927,Best Director,Two Arabian Knights,Lewis Milestone
1,"Glasgow, Scotland",2-Feb-1886,White,Na,Straight,1930,Best Director,The Divine Lady,Frank Lloyd
2,"Chisinau, Moldova",30-Sep-1895,White,Na,Straight,1931,Best Director,All Quiet on the Western Front,Lewis Milestone
3,"Chicago, Il",23-Feb-1899,White,Na,Straight,1932,Best Director,Skippy,Norman Taurog
4,"Salt Lake City, Ut",23-Apr-1894,White,Roman Catholic,Straight,1933,Best Director,Bad Girl,Frank Borzage

In [186]:
#AHora vamos a querer ver info especifica del DF:
oscars_demographics.info()  #Utilizamos el 1er DF, el que tenia todas las columnas.
#Nos da el detalle de la estructura del DF:
    #En non-null vemos que la mayoria tiene 441 valores NO nulos... pero por ej. birthplace_gold tiene solo 9, el resto son NaN.  
    #Dtype: es el tipo de dato que asoció automáticamente Pandas al hacer read_csv(). Si tan solo 1 valor no machea para ese tipo de dato va a elegir otro el tipo: 'Object' (tipo de dato que elige si NO machea con ningñun otro más)
            #Object son strings, la mayoría machean con ese tipo de dato.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   _unit_id                       441 non-null    int64
 1   _golden                        441 non-null    bool
 2   _unit_state                    441 non-null    object
 3   _trusted_judgments             441 non-null    int64
 4   _last_judgment_at              416 non-null    object
 5   birthplace                     441 non-null    object
 6   birthplace:confidence          441 non-null    float64
 7   date_of_birth                  441 non-null    object
 8   date_of_birth:confidence       441 non-null    float64
 9   race_ethnicity                 441 non-null    object
 10  race_ethnicity:confidence      441 non-null    float64
 11  religion                       441 non-null    object
 12  religion:confidence            441 non-null    float64
 13  sexual_orientation             441 non-null    object
 14  sexual_orientation:confidence  441 non-null    float64
 15  year_of_award                  441 non-null    int64
 16  year_of_award:confidence       441 non-null    float64
 17  award                          441 non-null    object
 18  biourl                         441 non-null    object
 19  birthplace_gold                9 non-null      object
 20  date_of_birth_gold             8 non-null      object
 21  movie                          441 non-null    object
 22  person                         441 non-null    object
 23  race_ethnicity_gold            2 non-null      object
 24  religion_gold                  10 non-null     object
 25  sexual_orientation_gold        3 non-null      object
 26  year_of_award_gold             11 non-null     float64
dtypes: bool(1), float64(7), int64(3), object(16)
memory usage: 90.1+ KB

In [187]:
#Para saber datos estadisticos del dataset hacemos esto:
oscars_demographics.describe() 
#De esta manera tenemos estadisticas sobre cada una de las columnas NUMERICAS (las otras columnas NO)
#El '25%'' es en qué valor se CENTRA el 25%.

,_unit_id,_trusted_judgments,birthplace:confidence,date_of_birth:confidence,race_ethnicity:confidence,religion:confidence,sexual_orientation:confidence,year_of_award,year_of_award:confidence,year_of_award_gold
count,4.410000e+02,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,11.000000
mean,6.704825e+08,7.637188,0.995259,0.996607,0.999130,0.989373,0.992390,1973.165533,0.990082,1977.363636
std,1.139974e+05,19.015541,0.038917,0.032060,0.016438,0.065610,0.049458,24.030895,0.059177,21.592928
min,6.704544e+08,3.000000,0.657100,0.656200,0.657100,0.333300,0.657100,1927.000000,0.333300,1942.000000
25%,6.704545e+08,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1953.000000,1.000000,1964.000000
50%,6.704546e+08,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1973.000000,1.000000,1977.000000
75%,6.704547e+08,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1994.000000,1.000000,1997.000000
max,6.709729e+08,95.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2014.000000,1.000000,2006.000000

In [188]:
#Ahora vamos a ver la ESTRUCTURA del DF que explicamos en el apunte... (indice de datos, indice de columnas y la data) para poder analizarlas por separado.
oscars_index=oscars_demographics.index #asi obtenemos el ùndice (en este caso es un RangeIndex ya que no tenemos seteado ninguna columna como ìndice. Rageindex son valores consecutivos numericos desde 0)
oscars_columns=oscars_demographics.columns  #para obtener las columnas. Es una SERIE con los nombres de todas las columnas.
oscars_data=oscars_demographics.values #para obtener la data. La operacion que nos devuelve obtiene tooodos los datos y los pone en un array. 

#Abajo mostramos estos 3:

In [189]:
oscars_index

RangeIndex(start=0, stop=441, step=1)

In [190]:
oscars_columns

Index(['_unit_id', '_golden', '_unit_state', '_trusted_judgments',
       '_last_judgment_at', 'birthplace', 'birthplace:confidence',
       'date_of_birth', 'date_of_birth:confidence', 'race_ethnicity',
       'race_ethnicity:confidence', 'religion', 'religion:confidence',
       'sexual_orientation', 'sexual_orientation:confidence', 'year_of_award',
       'year_of_award:confidence', 'award', 'biourl', 'birthplace_gold',
       'date_of_birth_gold', 'movie', 'person', 'race_ethnicity_gold',
       'religion_gold', 'sexual_orientation_gold', 'year_of_award_gold'],
      dtype='object')

In [191]:
oscars_data

array([[670454353, False, 'finalized', ..., nan, nan, nan],
       [670454354, False, 'finalized', ..., nan, nan, nan],
       [670454355, False, 'finalized', ..., nan, nan, nan],
       ...,
       [670964912, False, 'finalized', ..., nan, nan, nan],
       [670964956, False, 'finalized', ..., nan, nan, nan],
       [670972898, False, 'finalized', ..., nan, nan, nan]], dtype=object)

In [192]:
#AHora vamos a ver el tipo de datos de cada estructura:

type(oscars_index) #Vemos que tiene un tipo de dato RangeIndex.

pandas.core.indexes.range.RangeIndex

In [193]:
type(oscars_columns) #Tipo de dato Index.

pandas.core.indexes.base.Index

In [194]:
type(oscars_data) #Tipo de dato Array.

numpy.ndarray

In [195]:
#AHora vemos los tipos de dato de cada columna de oscars_demographics(Que anteriormente vimos igualmente con oscars_demographics.info() )
oscars_demographics.dtypes

_unit_id                           int64
_golden                             bool
_unit_state                       object
_trusted_judgments                 int64
_last_judgment_at                 object
birthplace                        object
birthplace:confidence            float64
date_of_birth                     object
date_of_birth:confidence         float64
race_ethnicity                    object
race_ethnicity:confidence        float64
religion                          object
religion:confidence              float64
sexual_orientation                object
sexual_orientation:confidence    float64
year_of_award                      int64
year_of_award:confidence         float64
award                             object
biourl                            object
birthplace_gold                   object
date_of_birth_gold                object
movie                             object
person                            object
race_ethnicity_gold               object
religion_gold                     object
sexual_orientation_gold           object
year_of_award_gold               float64
dtype: object

In [196]:
#Con value_counts vamos a contar todas las ocurrencias de los distintos valores que aparecen en una serie:
oscars_demographics.dtypes.value_counts()
#De esta manera vemos la cantidad de tipos de datos que tenemos (tenemos 16 objects, 7 floats, 3 inst y 1 bool)

object     16
float64     7
int64       3
bool        1
dtype: int64

## 2- Manejo de Series y estadìsticas sobre los datos.

In [197]:
#Anteriormente mencionamos ya que cada columna es una SERIE.
#Una SERIE es un dato de una sola dimensión compuesto de solo un indice y su data. 
#Podemos seleccionar una columna utilizando el index operator  o utilizando la notación "dot"

#Ahora vamos a utilizar el index operator para tomar todos los nombres de las personas (columna 'person'):
oscars_demographics['person'] #esto es una SERIE

0      Lewis Milestone
1          Frank Lloyd
2      Lewis Milestone
3        Norman Taurog
4        Frank Borzage
            ...
436       Rachel Weisz
437        Danny Boyle
438      Jason Robards
439       James Coburn
440        John Huston
Name: person, Length: 441, dtype: object

In [198]:
#Hacemos lo mismo que arriba pero utilizando la notación "dot":
oscars_demographics.person

0      Lewis Milestone
1          Frank Lloyd
2      Lewis Milestone
3        Norman Taurog
4        Frank Borzage
            ...
436       Rachel Weisz
437        Danny Boyle
438      Jason Robards
439       James Coburn
440        John Huston
Name: person, Length: 441, dtype: object

In [199]:
#Le hacemos un type a la columna person para ver que es del tipo serie:
columnaPerson = oscars_demographics['person']
type(columnaPerson)

pandas.core.series.Series

In [200]:
#AHora queremos transformar esto en un DATAFRAME:
columnaPersonADF = oscars_demographics['person'].to_frame()
type(columnaPersonADF)

#Esto lo hacemos ya que hay ciertas operaciones que se pueden realizar en series
#y ciertas operaciones que se pueden realizar sobre DF's.

pandas.core.frame.DataFrame

In [201]:
#AHora le hacemos un info al DF para verlo como una estructura con una ùnica columna:
columnaPersonADF.info()
#columnaPerson.info()  #a una serie NO podemos aplicarle esto por ej.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441 entries, 0 to 440
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   person  441 non-null    object
dtypes: object(1)
memory usage: 3.6+ KB

In [202]:
#Para listar los métodos que aplican sobre series:
Series_Methods = set(dir(pd.Series))
len(Series_Methods)

434

In [203]:
Series_Methods

{'T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_convert_dtypes',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_type',
 '_find_valid_index',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'between',
 'between_time',
 'bfill',
 'bool',
 'cat',
 'clip',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dt',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'tolist',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs'}

In [204]:
#Para listar los métodos que aplican sobre DFs:
DF_Methods = set(dir(pd.DataFrame))
len(DF_Methods)

431

In [205]:
DF_Methods

{'T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_frame',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_type',
 '_ensure_valid_index',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs'}

In [206]:
#Como ejemplo vamos a seleccionar 2 columnas con 2 tipos de datos distintos
#para ver asi que las operaciones con distintos datos pueden dar resultados distintos.

#Seleccionamos la pelicula y luego el año:
oscars_movie = oscars_demographics['movie'] #es un object.
oscars_years = oscars_demographics['year_of_award'] #es un int

In [207]:
oscars_movie.head(5) #Serie con los nombres. (NO es un DF)

0               Two Arabian Knights
1                   The Divine Lady
2    All Quiet on the Western Front
3                            Skippy
4                          Bad Girl
Name: movie, dtype: object

In [208]:
oscars_years.head(5) #Serie con los años. (NO es un DF)

0    1927
1    1930
2    1931
3    1932
4    1933
Name: year_of_award, dtype: int64

In [209]:
#Sobre una serie podemos hacer varios Value_Counts():

In [210]:
oscars_movie.value_counts() #Para ver las ocurrencias de cada valor (Million DOllar Baby vemos que tiene 5 ocurrencias)

Million Dollar Baby      5
Network                  4
West Side Story          4
It Happened One Night    3
Gone with the Wind       3
                        ..
Ordinary People          1
The Killing Fields       1
Butterfield 8            1
Cavalcade                1
Airport                  1
Name: movie, Length: 336, dtype: int64

In [211]:
#Ponemos el normalize=True para obtener asi el
#porcentual, osea el volumen relativo de cada una de las peliculas
oscars_movie.value_counts(normalize=True)
#Nos muestra para cada pelicula los porcentajes de ocurrencia respecto a todas ahora.
#Tooodos los valores numericos que vemos abajo (0.011338, 0.0009070 y todas las demás) SUMAN 1... entonces 
#el 0.011338 es la participación que tuvo la 1er peli con respecto a las demás pelis (el 100%)

Million Dollar Baby      0.011338
Network                  0.009070
West Side Story          0.009070
It Happened One Night    0.006803
Gone with the Wind       0.006803
                           ...
Ordinary People          0.002268
The Killing Fields       0.002268
Butterfield 8            0.002268
Cavalcade                0.002268
Airport                  0.002268
Name: movie, Length: 336, dtype: float64

In [212]:
oscars_years.value_counts()  #AHora hacemos lo mismo para los años que son variables numéricas.
#Y obtenemos la distribución.. para 1969 son 8, 2005 son 7, etc.
#Obviamente este DS NO esta completo ya que en 1933 por ej. hay 1 solo.

1969    8
2005    7
1961    7
1999    7
2009    7
       ..
1932    3
1931    3
1929    2
1933    1
1927    1
Name: year_of_award, Length: 87, dtype: int64

In [213]:
oscars_years.value_counts(normalize=True)
#Me dice nuevamente en porcentaje cuantas veces aparecen los años.

1969    0.018141
2005    0.015873
1961    0.015873
1999    0.015873
2009    0.015873
          ...
1932    0.006803
1931    0.006803
1929    0.004535
1933    0.002268
1927    0.002268
Name: year_of_award, Length: 87, dtype: float64

In [214]:
#Usamos size, shape y len para contar el nùmero de elementos en DF:
type(oscars_demographics)

pandas.core.frame.DataFrame

In [215]:
oscars_demographics.size #Nos muestra la cantidad de elementos que tenemos (filas y columnas, TODO)

11907

In [216]:
oscars_demographics.shape #(Filas y columnas que tenemos)

(441, 27)

In [217]:
len(oscars_demographics) #Cantidad de filas que tenemos

441

In [218]:
oscars_demographics.count() #Vemos los valores asociados a cada columna

_unit_id                         441
_golden                          441
_unit_state                      441
_trusted_judgments               441
_last_judgment_at                416
birthplace                       441
birthplace:confidence            441
date_of_birth                    441
date_of_birth:confidence         441
race_ethnicity                   441
race_ethnicity:confidence        441
religion                         441
religion:confidence              441
sexual_orientation               441
sexual_orientation:confidence    441
year_of_award                    441
year_of_award:confidence         441
award                            441
biourl                           441
birthplace_gold                    9
date_of_birth_gold                 8
movie                            441
person                           441
race_ethnicity_gold                2
religion_gold                     10
sexual_orientation_gold            3
year_of_award_gold                11
dtype: int64

In [219]:
#Ahora hacemos lo mismo (Usamos size, shape y len para contar el nùmero de elementos)
#pero ahora no es un DF, sino una Serie:
Serie_Date_Birth_Gold = oscars_demographics['date_of_birth_gold']
type(Serie_Date_Birth_Gold)

pandas.core.series.Series

In [220]:
Serie_Date_Birth_Gold.size #Vemos el TOTAL de datos (sean o no Nans)

441

In [221]:
Serie_Date_Birth_Gold.count() #Vemos que de los 441 que tiene de longitud solo 8 valores son distintos de null. 
#Anteriormente hicimos count() solo para el DF y como vimos nos devuelve las cantidades PARA CADA COLUMNA; aca con Series solo para esa columna.

8

In [222]:
Serie_Date_Birth_Gold.isnull() #Nos devuelve un valor booleano asociado a cada una de las posiciones indicando si es V o F que es nulo 
#(vemos que la mayoria son nullos por los T) --> son una SERIE de valores booleanos

0      True
1      True
2      True
3      True
4      True
       ...
436    True
437    True
438    True
439    True
440    True
Name: date_of_birth_gold, Length: 441, dtype: bool

In [223]:
Serie_Date_Birth_Gold.hasnans #SImplemente nos dice si existe algun Nan (null) dentro de la columna. SI tenemos solo 1 nos devuelve True.

True

In [224]:
#Aca como todos tienen valores nos devuelve False.

Serie_Persons = oscars_demographics['person']
Serie_Persons.hasnans

False

In [225]:
Serie_Date_Birth_Gold  #Imprimiendo asi nos devuelve una Serie con los valores de la columna (la mayoria 'NaN')

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
436    NaN
437    NaN
438    NaN
439    NaN
440    NaN
Name: date_of_birth_gold, Length: 441, dtype: object

In [226]:
#AHora vamos a hacer algo con los valores que NO estan definidos...
#Vamos a hacer un FIlling Nan... así para todos los valores NaN le vamos a poner el valor 'None'
Serie_Date_Birth_Gold_Fill_NaNs = Serie_Date_Birth_Gold.fillna('None')

In [227]:
Serie_Date_Birth_Gold_Fill_NaNs #Lo imprimimos y vemos que los cambio por None:

0      None
1      None
2      None
3      None
4      None
       ...
436    None
437    None
438    None
439    None
440    None
Name: date_of_birth_gold, Length: 441, dtype: object

In [228]:
Serie_Date_Birth_Gold_Fill_NaNs.hasnans #VEmos que NO tiene Nans

False

In [229]:
Serie_Date_Birth_Gold_Fill_NaNs.count() #Antes nos tiraba 8, ahora nos tira todos ya que los rellenamos.

441

In [230]:
Serie_Date_Birth_Gold_Fill_NaNs.size #Y bueno aca nos tira nuevamente todos porque no considera los Nans.

441

In [231]:
#Ahora enves de rellenar vamos a Dropearlos/Removerlos:
Serie_Date_Birth_Gold_Nans_Dropped=Serie_Date_Birth_Gold.dropna()

In [232]:
Serie_Date_Birth_Gold_Nans_Dropped  #Solo tenemos los que NO eran NaN.

21      5-Aug-06
33     22-Jun-06
152     9-Jul-56
205    16-Jun-07
263    16-Jul-11
280    27-Feb-30
377    31-Oct-27
411    11-Dec-67
Name: date_of_birth_gold, dtype: object

In [233]:
Serie_Date_Birth_Gold_Nans_Dropped.count() #Nos da solo los que no tenian Nan... en este caso igual ninguno tienen Nan porque esos los eliminamos directamente.

8

In [234]:
Serie_Date_Birth_Gold_Nans_Dropped.size #Nos tira TODOS los valores (igual tenemos 8, el resto los volamos)

8

#### Ahora vamos a ver métodos básicos de estadística:  min, max, mean, median, std, sum y describe.

In [240]:
#Anteriormente vimos que aplicando describe() sobre el DF te aplicaba todos los métodos de estadisticas para las variables NUMÉRICAS del mismo
#Tambien podemos correr metricas de estadistica especificando las columnas si no lo queremos hacer sobre todo:
#Saber... _trusted_judgments es una columna de nuestro DS.

min_columna_trusted_j=oscars_demographics._trusted_judgments.min()
max_columna_trusted_j=oscars_demographics._trusted_judgments.max()
mean_columna_trusted_j=oscars_demographics._trusted_judgments.mean()
median_columna_trusted_j=oscars_demographics._trusted_judgments.median()
std_columna_trusted_j=oscars_demographics._trusted_judgments.std()
sum_columna_trusted_j=oscars_demographics._trusted_judgments.sum()

#Ahora imprimimos todos estos como una lista (separandolos por ,):
min_columna_trusted_j, max_columna_trusted_j, mean_columna_trusted_j, median_columna_trusted_j, std_columna_trusted_j, sum_columna_trusted_j

(3, 95, 7.63718820861678, 3.0, 19.015540899806783, 3368)

In [241]:
#Pero utilizando describe nos corre todas las estadisticas de una (Sobre la columna que le indicamos):
oscars_demographics._trusted_judgments.describe()

count    441.000000
mean       7.637188
std       19.015541
min        3.000000
25%        3.000000
50%        3.000000
75%        3.000000
max       95.000000
Name: _trusted_judgments, dtype: float64

In [242]:
#SI hacemos lo mismo sobre una columna OBJECT (por ej. movie)
#los valores van a ser distintos (que que NO podemos hacer un promedio de Strings)
#Solo nos dice cuantos valores totales y únicos tenemos, el valor más comun (top) y su frecuencia.
oscars_demographics.movie.describe()

count                     441
unique                    336
top       Million Dollar Baby
freq                        5
Name: movie, dtype: object

In [243]:
#SI corremos el describe() sobre todo el DF nos va a tirar el resultado
#sobre todas las columnas que sean NUMERICAS (no va a tener en cuenta los objecs acá directamente)
oscars_demographics.describe()

,_unit_id,_trusted_judgments,birthplace:confidence,date_of_birth:confidence,race_ethnicity:confidence,religion:confidence,sexual_orientation:confidence,year_of_award,year_of_award:confidence,year_of_award_gold
count,4.410000e+02,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,441.000000,11.000000
mean,6.704825e+08,7.637188,0.995259,0.996607,0.999130,0.989373,0.992390,1973.165533,0.990082,1977.363636
std,1.139974e+05,19.015541,0.038917,0.032060,0.016438,0.065610,0.049458,24.030895,0.059177,21.592928
min,6.704544e+08,3.000000,0.657100,0.656200,0.657100,0.333300,0.657100,1927.000000,0.333300,1942.000000
25%,6.704545e+08,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1953.000000,1.000000,1964.000000
50%,6.704546e+08,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1973.000000,1.000000,1977.000000
75%,6.704547e+08,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1994.000000,1.000000,1997.000000
max,6.709729e+08,95.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2014.000000,1.000000,2006.000000

## 3-Operaciones sobre series

In [246]:
#COmo dijismos antes.. cada columna de nuestro DF es una SERIE. 
#Nos quedamos con la columna _trusted_judgments... entonces tendremos una serie de valores asociados a esa columna:
oscars_demographics['_trusted_judgments']

0      3
1      3
2      3
3      3
4      3
      ..
436    3
437    3
438    3
439    3
440    3
Name: _trusted_judgments, Length: 441, dtype: int64

In [247]:
#Hacemos lo mismo que hicimos antes (calculamos la media, min y maximo de esa columa usnando los operadores que ya vimos):

min_columna_trusted_j=oscars_demographics['_trusted_judgments'].min()
max_columna_trusted_j=oscars_demographics['_trusted_judgments'].max()
mean_columna_trusted_j=oscars_demographics['_trusted_judgments'].mean()

#Y ahora imprimimos estos 3 resultados:
min_columna_trusted_j, max_columna_trusted_j, mean_columna_trusted_j

(3, 95, 7.63718820861678)

In [249]:
#Ahora vamos a ver los valores posibles... utilizando el value_counts() que aplica sobre series:
#Y vemos que el value 3 tiene 416 ocurrencias. Y los demás valores van bajando... 
#ya que esto está ordenado del valor más al menos frecuente.
oscars_demographics['_trusted_judgments'].value_counts()

3     416
91      5
87      3
86      3
84      2
76      2
75      2
95      1
92      1
90      1
89      1
85      1
82      1
81      1
62      1
Name: _trusted_judgments, dtype: int64

In [251]:
#Tambien podemos aplicar operaciones (al minumo le sumamos 1):
min_columna_trusted_j+1  #COmo min_columna_trusted_j era 3, le sumamos 1 y nos da 4.

4

In [254]:
#En cambio ahora si a la columna le sumamos 1 lo que vamos a obtener es 
#una serie que va a sumar 1 a cada valor de la columna (antes la mayorìa eran 3... ahora van a ser 4)
oscars_demographics['_trusted_judgments'] + 1

0      4
1      4
2      4
3      4
4      4
      ..
436    4
437    4
438    4
439    4
440    4
Name: _trusted_judgments, Length: 441, dtype: int64

In [255]:
#Tambien podemos aplicar multiplicación para cada uno de estos valores:
oscars_demographics['_trusted_judgments'] * 3

0      9
1      9
2      9
3      9
4      9
      ..
436    9
437    9
438    9
439    9
440    9
Name: _trusted_judgments, Length: 441, dtype: int64

In [258]:
#Anteriormente teniamos esto:
oscars_years = oscars_demographics['year_of_award'] #es un int
#Ahora vamos a ver cuales de estos son iguales a 1969:
(oscars_years == 1969).value_counts()
#Y nos tira que 8 son iguales.Y el 433 es para las ocurrencias que no son iguales a 1969.
#Comparamos una serie con un valor.. y lo que nos devuelve es otra serie de igual cantidad de elementos
#pero con valores booleanos, donde se ve si para cada elemento cumple o no la condición que le fijamos (que sea = a 1969)
#Por esto si hacemos un value count sobre esa serie obtenemos la cantidad de Falses y de True (y está ordenado del mas al menos frecuente: por esto primero el False con 433)

False    433
True       8
Name: year_of_award, dtype: int64

In [266]:
(oscars_years < 2014).value_counts() #Vemos que no esta muy actualizado, solo tiene 4 peliculas mayores a 2014.

True     437
False      4
Name: year_of_award, dtype: int64

In [267]:
#Entonces... operadores:
#Aritmeticos: +,-,/,//,%  
    #Aritmeticos equivalentes: add, sub, mul, div, floordiv, mod, pow
#De comparacion: <,>,<=,>=,==,!=
    #De comparacion equivalentes: it, gt, le, ge, eq, ne

In [269]:
#ENtonces hacemos lo mismo con el equivalente al == en comparacion:
oscars_years.eq(1969).value_counts()

False    433
True       8
Name: year_of_award, dtype: int64

In [277]:
#Los métodos tambien pueden encadenarse (para esto usamos el punto .)
oscars_demographics['year_of_award_gold'].isnull() 
#Primero asi, sin concatenar. A la serie oscars_demographics['year_of_award_gold'] le 
#aplicamos innull() que nos va a dar valores T o F en función si es null o no lo es.

0      True
1      True
2      True
3      True
4      True
       ...
436    True
437    True
438    True
439    True
440    True
Name: year_of_award_gold, Length: 441, dtype: bool

In [280]:
#Ahora concatenamos con sum() lo anterior:
oscars_demographics['year_of_award_gold'].isnull().sum()
#Lo que hace esto es contar los NULLs que tenemos en la columna.

430

In [282]:
#Ahora concatenamos con mean():
oscars_demographics['year_of_award_gold'].isnull().mean()
#Ahora vemos la media/porcentaje de valores NO definidos (nulls) en esa columna:
#En este caso el 97,5%... es null, BASTANTE.

0.9750566893424036

In [286]:
#Para splitear y poder escribir código debajo usamos la barra invertida (\)... para asi leer instrucciones de lineas muuuy largas
#La barra invertida (\) la hago con ALTGR + el botón de la izquierda debajo de escape.
oscars_demographics['year_of_award_gold'].isnull()\
                    .mean()
#SOlo visualmente lo separamos en 2 renglones para que no se haga largo.

0.9750566893424036

In [288]:
#Otra opcion para hacer lo mismo que con la barra invertida es
#METER TODO ENTRE PARENTESIS:
( oscars_demographics['year_of_award_gold'].isnull()
                    .mean() )

0.9750566893424036

## 4-Limpieza de dataset y manejo de indices